/* CSS for website */


/********************/
/**** FONT STUFF ****/
/********************/
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

.book.font-family-1 {
  font-family: Montserrat, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}


/***********************/
/**** GENERAL STYLE ****/
/***********************/
body {
  color: #000;
}


/******************/
/**** HEADINGS ****/
/******************/
.markdown-section h1, h2, h3, h4, h5 {
  color: rgb(255, 0, 125);
}
.markdown-section h1 {
  font-size: 3em;
  line-height: 1.3em;
}
.markdown-section h2 {
  font-size: 2em;
}
.markdown-section h3 {
  font-size: 1.5em;
}
.markdown-section h4 {
  font-size: 1.25em;
}
.markdown-section h5 {
  font-size: 1em;
}
.markdown-section h6 {
  font-size: 1em;
  color: #777;
}


/*******************/
/**** TITLE IDs ****/
/*******************/
/* title IDs make it possible to style specific headings independently */
#title{
  /* border-bottom: 1px solid #eaecef; */
}


/**********************/
/**** ANCHOR LINKS ****/
/**********************/
.anchorjs-link {
  transition: all .25s linear;
  /*color: #FF5231!important;*/
  color: #000;
  text-decoration: none!important;
}
.anchorjs-link:hover {
  /*color: #4183c4!important;*/
  color: rgb(255, 0, 125);
  text-decoration: none!important;
}
*:hover > .anchorjs-link {
  /*margin-left: -1.125em !important;*/
  margin-top: -.05em;
  text-decoration: none!important;
  transition: color .25s linear;
}


/********************/
/**** BLOCKQUOTE ****/
/********************/
.markdown-section blockquote {
    margin: 0;
    margin-bottom: .85em;
    padding: 15px;
    /* color: #858585; */
    /* border-left: 4px solid #e5e5e5; */
    background-color: #efefef;
    border: 1px solid #e5e5e5;
    border-radius: .3em;
}
.markdown-section blockquote > p {
  margin-bottom: 0;
}


/************************/
/**** GLOSSARY TERMS ****/
/************************/
.markdown-section .glossary-term {
  text-decoration: none;
  color: #727272;
}

.tips {
  color:red;
}

.markdown-section a:active, .markdown-section a:focus, .markdown-section a:hover {
  text-decoration: none!important;
}



.section.toc .page {
    display: none;
}

p.copyright {
  display: none!important;
}

/* this is not working :( */
.ace {
  max-height: 500px!important;
  overflow: hidden!important;
  overflow-y: scroll!important;
}