/* CSS for website */
.book.font-family-1 {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.tips {
  color:red;
}

.anchorjs-link {
  transition: all .25s linear;
  color: #FF5231!important;
}
.anchorjs-link:hover {
  color: #4183c4!important;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
  text-decoration: none!important;
  transition: color .25s linear;
}

.section.toc .page {
    display: none;
}